Repository pGabrielM/vivapet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,ts,tsx,json,css,md}": "prettier --write"
}

chore: update configuration files and add eslint cache; format for consistency
  .eslintcache
Due: none

chore: remove Dockerfile and docker-compose.yml as part of project cleanup
  Dockerfile
  docker-compose.yml
Due: none

refactor: remove header, hero, products, services, testimonials components and related UI elements
  .eslintcache
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .huskyrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  README.md
  components.json
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/about.tsx
  src/components/contact.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/hero.tsx
  src/components/products.tsx
  src/components/services.tsx
  src/components/testimonials.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/lib/utils.ts
  tailwind.config.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: initialize Next.js application with Tailwind CSS and custom global styles
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: implement VivaPet website structure with services, products, and booking features
  README.md
  next.config.ts
  public/images/dog-1.jpg
  public/images/dog-2.jpg
  public/images/shop.jpg
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/booking/BookingForm.tsx
  src/components/booking/index.ts
  src/components/contact/ContactDetails.tsx
  src/components/contact/ContactForm.tsx
  src/components/contact/index.ts
  src/components/footer/Footer.tsx
  src/components/footer/index.ts
  src/components/hero/Hero.tsx
  src/components/hero/index.ts
  src/components/nav/MobileMenu.tsx
  src/components/nav/Navbar.tsx
  src/components/nav/index.ts
  src/components/products/ProductCard.tsx
  src/components/products/ProductsGrid.tsx
  src/components/products/index.ts
  src/components/services/ServiceCard.tsx
  src/components/services/Services.tsx
  src/components/services/index.ts
  src/components/ui/Avatar.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Input.tsx
  src/components/ui/Separator.tsx
  src/components/ui/index.ts
  src/data/products.ts
  src/data/services.ts
  src/lib/cn.ts
  src/lib/types.ts
Due: eslint --cache --fix, prettier --write

feat: update site branding and content for VivaPet
  components.json
  next.config.ts
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/booking/BookingForm.tsx
  src/components/contact/ContactForm.tsx
  src/components/hero/Hero.tsx
  src/components/nav/Navbar.tsx
  src/components/nav/index.ts
  src/components/nav/mobile-menu.tsx
  src/components/products/ProductCard.tsx
  src/components/services/ServiceCard.tsx
  src/components/ui/Avatar.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Input.tsx
  src/components/ui/Separator.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/index.ts
  src/components/ui/input.tsx
  src/components/ui/separator.tsx
  src/data/doctors.ts
  src/data/products.ts
  src/lib/types.ts
  src/lib/utils.ts
Due: eslint --cache --fix, prettier --write

feat: Implement Next.js 15 landing page for VivaPet clinic
  .github/copilot-instructions.md
  package.json
  src/components/booking/index.ts
  src/components/commons/avatar.tsx
  src/components/commons/badge.tsx
  src/components/commons/button.tsx
  src/components/commons/card.tsx
  src/components/commons/index.ts
  src/components/commons/input.tsx
  src/components/commons/separator.tsx
  src/components/contact/index.ts
  src/components/footer/index.ts
  src/components/hero/index.ts
  src/components/nav/index.ts
  src/components/products/index.ts
  src/components/resources/landing/BookingForm.tsx
  src/components/resources/landing/ContactDetails.tsx
  src/components/resources/landing/ContactForm.tsx
  src/components/resources/landing/Footer.tsx
  src/components/resources/landing/Hero.tsx
  src/components/resources/landing/Navbar.tsx
  src/components/resources/landing/ProductCard.tsx
  src/components/resources/landing/ProductsGrid.tsx
  src/components/resources/landing/ServiceCard.tsx
  src/components/resources/landing/Services.tsx
  src/components/resources/landing/index.ts
  src/components/resources/landing/mobile-menu.tsx
  src/utils/doctors.ts
  src/utils/products.ts
  src/utils/services.ts
Due: eslint --cache --fix, prettier --write

Refactor components for improved readability and consistency
  .github/copilot-instructions.md
  .prettierignore
  .prettierrc
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/commons/avatar.tsx
  src/components/commons/badge.tsx
  src/components/commons/button.tsx
  src/components/commons/card.tsx
  src/components/commons/index.ts
  src/components/commons/input.tsx
  src/components/commons/separator.tsx
  src/components/resources/landing/BookingForm.tsx
  src/components/resources/landing/ContactDetails.tsx
  src/components/resources/landing/ContactForm.tsx
  src/components/resources/landing/Footer.tsx
  src/components/resources/landing/Hero.tsx
  src/components/resources/landing/Navbar.tsx
  src/components/resources/landing/ProductCard.tsx
  src/components/resources/landing/ProductsGrid.tsx
  src/components/resources/landing/ServiceCard.tsx
  src/components/resources/landing/Services.tsx
  src/components/resources/landing/index.ts
  src/components/resources/landing/mobile-menu.tsx
  src/lib/cn.ts
  src/lib/types.ts
  src/lib/utils.ts
  src/utils/doctors.ts
  src/utils/products.ts
  src/utils/services.ts
Due: eslint --cache --fix, prettier --write

fix: remove unnecessary peer property from package-lock.json
  package-lock.json
Due: prettier --write

feat: Add contact details and form components for user inquiries
  README.md
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.svg
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/commons/index.ts
  src/components/resources/landing/BookingForm.tsx
  src/components/resources/landing/ContactDetails.tsx
  src/components/resources/landing/ContactForm.tsx
  src/components/resources/landing/Footer.tsx
  src/components/resources/landing/Hero.tsx
  src/components/resources/landing/Navbar.tsx
  src/components/resources/landing/ProductCard.tsx
  src/components/resources/landing/ProductsGrid.tsx
  src/components/resources/landing/ServiceCard.tsx
  src/components/resources/landing/Services.tsx
  src/components/resources/landing/booking-form.tsx
  src/components/resources/landing/contact-details.tsx
  src/components/resources/landing/contact-form.tsx
  src/components/resources/landing/footer.tsx
  src/components/resources/landing/hero.tsx
  src/components/resources/landing/index.ts
  src/components/resources/landing/mobile-menu.tsx
  src/components/resources/landing/navbar.tsx
  src/components/resources/landing/product-card.tsx
  src/components/resources/landing/products-grid.tsx
  src/components/resources/landing/service-card.tsx
  src/components/resources/landing/services.tsx
  src/lib/types.ts
  src/utils/services.ts
Due: eslint --cache --fix, prettier --write

Add new SVG logo for VivaPet featuring a paw print and heart design
  public/images/doctors/dr-ricardo-costa.jpg
  public/images/doctors/dra-juliana-almeida.jpg
  public/images/doctors/dra-patricia-santos.jpg
  public/images/hero/veterinario-pet.jpg
  public/images/logo.svg
  public/images/products/antipulgas.jpg
  public/images/products/brinquedos.jpg
  public/images/products/cama-conforto.jpg
  public/images/products/coleiras.jpg
  public/images/products/kit-higiene.jpg
  public/images/products/racao-premium.jpg
  public/images/services/banho-tosa.jpg
  public/images/services/cirurgias-procedimentos.jpg
  public/images/services/consultas-veterinarias.jpg
  public/images/services/emergencia-24h.jpg
  public/images/services/exames-laboratoriais.jpg
  public/images/services/vacinas-prevencao.jpg
  public/images/vivapet-logo.svg
  src/app/globals.css
  src/components/resources/landing/footer.tsx
  src/components/resources/landing/hero.tsx
  src/components/resources/landing/mobile-menu.tsx
  src/components/resources/landing/navbar.tsx
  src/components/resources/landing/product-card.tsx
  src/components/resources/landing/service-card.tsx
  src/utils/doctors.ts
  src/utils/products.ts
  src/utils/services.ts
Due: eslint --cache --fix, prettier --write

style: Improve code formatting for better readability in CSS and JSX files
  src/app/globals.css
  src/components/resources/landing/hero.tsx
  src/components/resources/landing/mobile-menu.tsx
  src/components/resources/landing/navbar.tsx
  src/components/resources/landing/product-card.tsx
  src/components/resources/landing/service-card.tsx
Due: eslint --cache --fix, prettier --write

feat: add internationalization support with multiple languages and routing
  messages/en.json
  messages/es.json
  messages/pt.json
  next.config.ts
  package-lock.json
  package.json
  public/brazil-flag-rounded.png
  public/spain-flag-rounded.png
  public/united-states-flag-rounded.png
  src/app/[locale]/globals.css
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/commons/language-menu.tsx
  src/components/resources/landing/booking-form.tsx
  src/components/resources/landing/contact-details.tsx
  src/components/resources/landing/contact-form.tsx
  src/components/resources/landing/footer.tsx
  src/components/resources/landing/hero.tsx
  src/components/resources/landing/mobile-menu.tsx
  src/components/resources/landing/navbar.tsx
  src/components/resources/landing/product-card.tsx
  src/components/resources/landing/products-grid.tsx
  src/components/resources/landing/service-card.tsx
  src/components/resources/landing/services.tsx
  src/i18n/request.ts
  src/i18n/routing.ts
  src/lib/types.ts
  src/middleware.ts
  src/utils/doctors.ts
  src/utils/products.ts
  src/utils/services.ts
Due: eslint --cache --fix, prettier --write

style: fix formatting inconsistencies in product and service card components
  messages/en.json
  messages/es.json
  messages/pt.json
  src/components/resources/landing/product-card.tsx
  src/components/resources/landing/service-card.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance booking form with validation and error handling; add price formatting for services
  README.md
  messages/en.json
  messages/es.json
  messages/pt.json
  src/components/resources/landing/booking-form.tsx
  src/components/resources/landing/product-card.tsx
  src/components/resources/landing/service-card.tsx
  src/lib/types.ts
  src/utils/currency.ts
  src/utils/products.ts
  src/utils/services.ts
Due: eslint --cache --fix, prettier --write

style: fix formatting inconsistencies in JSON and CSS files; improve readability in TypeScript components
  messages/en.json
  messages/es.json
  messages/pt.json
  src/app/[locale]/globals.css
  src/components/resources/landing/mobile-menu.tsx
  src/components/resources/landing/navbar.tsx
  src/components/resources/landing/service-card.tsx
Due: eslint --cache --fix, prettier --write

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

chore(deps): migra para next 16 e react 19.3, flat config do eslint e proxy
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/resources/landing/hero.tsx
  src/proxy.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

docs: reescreve readme; adiciona licença, ci e dependabot; remove instruções de assistente
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  LICENSE
  README.md
Due: prettier --write

chore: dependabot ignora atualizações major
  .github/dependabot.yml
Due: none
